version: '2'

services:
    web:
        image: nginx:latest
        ports:
            - "80:80"
        volumes:
            - ./:/code
            - ./site.conf:/etc/nginx/conf.d/default.conf
        networks:
            - code-network
    php:
        image: build: .
        volumes:
            - ./:/code
        networks:
            - code-network

networks:
    code-network:
        driver: bridge